# sandbox app to play with Plotly/Plotly dash
app.py

# query scratchpad
temp_queries.sql

# file with secrets
config.py

# jupyter notebooks for prototyping
*.ipynb

# working directories
__pycache__/
.ipynb_checkpoints/
